html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url('https://img.freepik.com/free-vector/gradient-pink-green-background_52683-110638.jpg?t=st=1738837984~exp=1738841584~hmac=c23dcd841a081d5cb1c6a54ce2bb04af23dc2fb10231128d91878760db4ba82d&w=1060') no-repeat center center fixed;
  background-size: cover;
}
